/*
These are personal recreations of existing projects, developed by Ashraf Morningstar for learning and skill development. Original project concepts remain the intellectual property of their respective creators.
GitHub Profile: https://github.com/AshrafMorningstar
*/

body {
  background-color:#2d2d2d;
  overflow: hidden;
  /* font-family: 'Fjalla One', sans-serif; */
  font-family: 'Passion One', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;   
}

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
  text-align:center
}


svg{
  width:80%;
  height:80%;
  visibility:hidden;
/*  overflow:visible; */
}
.shine, .iconContainer{
  pointer-events:none;
}
.dot{
  cursor:pointer;
}

.shine circle{
  stroke:#FFF;
}

.speechBubbleGroup text{
  text-anchor:middle;
  font-size:29px;
  
}

line{
  vector-effect:"non-scaling-stroke";
}

.hitArea, .dragContainer{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}